.app {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app {
    height: auto;
    overflow: visible;
  }

  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: visible;
    height: auto;
  }
}
